# Node modules directory
node_modules/

# Environment variable files
.env

# Logs
logs
*.log
npm-debug.log*

# Directory for session files
sessions/

# Directory for uploaded files
uploads/
 